@media screen and(min-width:600px){
    .nav-bar {
        flex-direction: column;
    }
    .tour-section{
        flex-direction: column;
    }
    .perfect-section{
        flex-direction: column;
        flex-direction: wrap;
    }
}