
@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@600;800&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* border: 2px solid tomato; */
} 
*body{
    font-family: 'Mulish', sans-serif;
}
.span{
    color:  #FF5400;
}
/* nav bar starts here */
.nav-bar{
    max-width: 1420px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 80px;
}
/* nav-left */
.nav-left{
    width: 50%;
    display: flex;
    justify-content:left;
    align-items: center;
    margin-left: 127px;
    gap: 16px;
}
.nav-left img{
    width: 30px;
}
.nav-left travel-txt{
    height: 100%;
    font-size: 880px;
    font-weight: 800px;
    margin: 0;
    padding: 0;
}
/* nav-right */

.nav-right{
    width: 50%;
    display: flex;
    text-decoration: none;
    margin-right: 2px;
    gap: 44px;
    color: #424247;
    text-align: center;
    font-size: 18px;
    font-weight: 400;
}
.nav-right a{
    text-decoration: none;
}
/* nav ends here */

/* banner starts here */

.banner-button{
    width: 80%;
    margin-left: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #FFF;
}
.menu{
    display: flex;
    justify-content: center;
    list-style: none;
    text-decoration: none;
    gap: 44px;
    
}
.btn{
    width: 100px;
    font-family: sans-serif;
    font-size: 12px;
    background-color: #FFF;
    color: #424247;
    border-radius: 10px;
    padding: 10px 0;
    
}
.btn-primary{
    background-color: #FF5400;
    padding: 10px 0;
    border-radius: 15px;
    width: 100px;
}

.banner-container{
    background-image: url(../B9A2-Hero-Travel-main/Images/Group\ 13\ \(1\)\ \(1\).png);
    text-align: center;
    margin-top: 2px;
    max-width: 1100px;
    margin: 0 auto;
    background-repeat: no-repeat; 
    outline: 2px solid yellowgreen;
    height: 500px;
}
.banner-title{
    font-size: 64px;
    font-weight: 800px;
    align-items: center;
    color: #FFF;
    padding-top: 110px;
}
.banner-description{
    padding: 24px;
    color: #FFF;
    margin-bottom: 20px;
}
/* tour section */
.tour-section{
    width: 65%;
    margin: 80px auto;
    display: flex;
    justify-content: space-between;
    padding: 20px;
}
.font-size{
    font-size: 40px;
}
.tour-content{
    width: 50%;
    text-align: left;
    margin-right: 20px;
    margin-bottom: 10px;
}
.tour-sec-pic{
    width: 50%;
    height: 540px;
}
/* Tour section */
.perfect-section{
    width: 65%;
    margin: 80px auto;
    display: flex;
    justify-content: space-between;
    padding: 20px;
}
.perfect-content{
    width: 50%;
    text-align: left;
    margin-right: 20px;
    margin-bottom: 10px;
}
.perfect-sec-pic{
    width: 50%;
    height: 540px;
    margin-right: 40px;  
}

